body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: black;
    background-color: skyblue;
}
.page-header {
  background-color: forestgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-header a{
  color: black;
}
.page-header a {
  display: block;
  padding:0.5em;
  text-decoration:none;
}
.items {
  width: 80%;
  margin: auto;
  padding: 1em;
  background-color: cornsilk;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.item{
  height: 500px;
  display: flex;
  flex-direction: column;
}
.items img {
  justify-content: baseline;
  width: 100%;
  height: auto;
  border: black;
  border-width: 1px;
  border-style: solid;
}
.items h2{
  align-self: center;
}
#price{
  align-self: flex-end;
}
button{
  align-self: center;
}
